<% @rendered_posts.each do |post| %>
<h1> <a href="posts/<%= post.id %>"> <%= post.title %> </a></h1>
<p> by: <%= post.author %> </p>
<p> <%= post.body[0...300] %> </p>
<small> <a href="posts/<%= post.id %>"> read more </a> </small>
<% end %>

<br><br>
<ul>
<% @total.times do |num| %>
    <% limit = num * 10 %>
    <li><a href="posts?limit=<%= limit %>" name="limit<%= limit %>"> <%= num + 1 %> </a></li>
<% end %>
</ul>
