<main class="main1">
  <% if @rendered_posts.size == 0 %>
  <h1> No Posts to Display</h1>
  <% end %>
  <% @rendered_posts.each do |post| %>
  <article>
    <h1> <a href="/posts/<%= post.id %>"> <%= post.title %> </a> </h1>
    <a href="/users/<%= post.user.id %>"><p class="author"><%= post.author_fn %> <%= post.author_ln %> </p></a>
    <small class='time'>&#x1f552;<%= post.time %></small>
    <% if @home %>
      <p> <%= post.body[0...300] %>...
        <small> <a href="/posts/<%= post.id %>"> read more </a> </small> </p>
    <% end %>
  </article>
  <% end %>
  <footer>
    <ul>
      <li><a href="<%= @url %>?limit=<%= @plimit %>"> Previous </a></li>
    <% (@start...@total).each do |num| %>
        <% limit = num * 10 %>
        <li><a href="<%= @url %>?limit=<%= limit %>"> <%= num + 1 %> </a></li>
    <% end %>
      <li><a href="<%= @url %>?limit=<%= @nlimit %>"> Next </a></li>
    </ul>
  </footer>
</main>
