<% if @rendered_posts.size == 0 %>
<h1> No Posts to Display</h1>
<% end %>
<% @rendered_posts.each do |post| %>
<h1> <a href="/posts/<%= post.id %>"> <%= post.title %> </a> </h1>
<p> by: <%= post.author %> </p>
<p> <%= post.body[0...300] %> </p>
<small> <a href="/posts/<%= post.id %>"> read more </a> </small>
  <% if post.published == false %>
  <div><a href="/posts/<%= post.id %>/complete"> Publish </a></div>
  <% end %>
<% end %>

<br><br>
<ul>
  <li><a href="/posts?limit=<%= @plimit %>"> Previous </a></li>
<% @total.times do |num| %>
    <% limit = num * 10 %>
    <li><a href="/posts?limit=<%= limit %>"> <%= num + 1 %> </a></li>
<% end %>
  <li><a href="/posts?limit=<%= @nlimit %>"> Next </a></li>
</ul>
