<main class="main1">
  <article>
    <% unless @post.published == true %>
      <% if @post.user == $main_user %>
        <a class="publish" href="/posts/<%= @post.id %>/complete"> Publish </a>
        <% link = "/posts/#{@post.id}/edit" %>
        <a class="publish" id="edit" href="/posts/<%= @post.id %>/edit"> Edit </a>
        <a class="publish" id="delete" href="/posts/<%= @post.id %>/delete?delete=true"> Delete </a>
      <% end %>
    <% end %>
  <h1> <%= @post.title %> </h1>
  <% if @delete == "true" %>
  <form action="/posts/<%= @post.id %>/delete" method="post" id="confirm-delete">
    <label> Are you sure? </label>
    <input type='submit' name='commit' value="Yes" id='yes_del_post'  />
    <input type='submit' name='commit' value="No" id='no_del_post'  />
  </form>
  <% end %>
  <a href="users/<%= @post.user.id %>"><p class="author"><%= @post.author_fn %> <%= @post.author_ln %> </p></a>
  <small class='time'>&#x1f552;<%= @post.time %></small>
    <% @paragraphs.each do |para| %>
      <p class="blog-post"><%= para %> </p>
    <% end %>
  </article>
  <% if @post.published %>
    <% if @error == "true" %>
    <h4>Your post could not be saved. Please try again</h4>
    <% end %>
    <h3> Comments </h3>
    <% if $main_user.nil? %>
    <h3> Please <a href="/users/login?page=posts/<%= @post.id %>">Login</a> to Comment </h3>
    <% else %>
      <form action="/comments" method="post" accept-charset="utf-8" id='new-comment'>
        <label for='body'>Comment</label>
        <textarea class="comment" name='body' id='body'></textarea>
        <input type='hidden' name='pid' value="<%= @post.id %>" />
        <input type='submit' name='commit' id='create_comment' />
      </form>
    <% end %>
    <ul class="post-comments">
      <% @post.comments.each do |comment| %>
      <li> <div> <%= comment.author_fn %>  <%= comment.author_ln %>
          <small class='time'>&#x1f552;<%= comment.time %></small> </div>
        > <%= comment.body %> </li>
      <% end %>
    </ul>
  <% end %>
</main>
